<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Detalhes do Produto</title>
    </head>
</head>
<body>
<header>
    <img src="../imagens/logo.png" class="logo" alt="Logo">
    <span id="container_header">

            <div id="menu"
                 style="display: flex; flex: 1; align-items: center; border-right: solid #EF2B00 3px; height: 60px; margin-right: 25px;">
                <a class="text_header"><img src="/imagens/icons/menu.svg" style="margin-right: 15px;" />Menu</a>
                <div id="painel" class="painel">
                    <div class="painel_container">
                        <section><a href="/produtos/buscamarca/Nike">Nike</a></section>
                        <section><a href="/produtos/buscamarca/Adidas">Adidas</a></section>
                        <section><a href="/produtos/buscamarca/Puma">Puma</a></section>
                    </div>
                </div>
            </div>
            <div id="search-container" class="search-container"
                 style="display: flex; flex: 1; align-items: center;  border-right: solid #EF2B00 3px; height: 60px; margin-right: 25px; padding-right: 65px;">
                <a id="text-header" class="text_header"><img src="/imagens/icons/search.svg"
                                                             style="margin-right: 15px;" />Buscar</a>
            </div>
            <div th:unless="${usuarioLogado}" style="display: flex; align-items: center; margin-right: 40px; ">
                <a href="clientes/create" class="text_header">Cadastrar</a>
            </div>
            <div th:unless="${usuarioLogado}" style="display: flex; align-items: center; margin-right: 40px;">
                <a href="/login" class="text_header">Login</a>
            </div>
            <div th:if="${usuarioLogado}" style="display: flex; align-items: center; margin-right: 30px;">
                <a th:text="${nomeCliente}" class="text_header"
                   style="color: rgb(52, 36, 36); flex-direction: row; display: flex; margin-right: 30px;"></a>
                <a href="/logout" onclick="confirmLogout()" class="text_header">Logout</a>
            </div>
            <div id="container_profile" style="border-left: solid #EF2B00 3px; height: 60px; padding-left: 25px; ">
                <a th:if="${usuarioLogado}" href="/clientes/PerfilCliente" style="display: flex; align-items: center; ">
                    <img src="/images/icons/profile.svg" style="margin-right: 15px;" />
                </a>
                <div style="display: flex; align-items: center;">
                    <a href="/carrinho" style="display: flex; align-items: center; ">
                        <img src="/images/icons/cart.svg" style="margin-right: 15px;" />
                    </a>
                </div>
            </div>
        </span>
</header>
<main>
    <div id="container_total">
        <div id="container_info">

            <h2 id="title_product" th:text="${produto.nome}"></h2>
            <p id="price_product">R$ <span th:text="${produto.preco}"></span></p>
            <span th:text="${produto.marca}"
                  style=" font-weight: 700; font-size: 25px; margin: 0; color: #000000; "></span>

            <p id="avali_product"><img src="/images/stars.svg" />
                <span th:text="${produto.avaliacao}"></span>
            </p>
            <p th:text="${produto.descricao}"
               style="word-break: break-word; font-size: 15px; font-weight: 400; width: 200px;">
            </p>

        </div>

        <div id="container_imagem">
            <div id="imagem_produto">
                <img id="imagemAtual" th:src="${'/imagens_produtos/' + imagens[0]}" class="img-thumbnail">

            </div>
            <div style="display:flex; flex-direction: column; align-items: center; ">
                <div id="arrows_container">
                    <img src="/imagens/icons/arrowleft.png" style="margin-right: 50px;" id="botaoVolta"
                         onclick="voltaImagem()" />
                    <img src="/imagens/icons/arrowright.png" id="botaoAvanca" onclick="proximaImagem()" />
                </div>

                <div id="indicadores">
                        <span th:each="imagem, index : ${imagens}" class="bolinha"
                              onclick="mostrarImagem([[${index.index}]])"></span>
                </div>

            </div>

        </div>



        <div id="container_buttons">

            <div style="display: flex; text-decoration: none; justify-content: center; align-items: center;">
                <div th:each="tamanho : ${tamanhos}"
                     style="display: flex;  border: 2px solid #000000; margin: 10px; height: 40px; width: 40px; align-items: center; justify-content: center;">
                        <span th:text="${tamanho}"
                              style="font-family: 'Segoe UI'; font-size: 20px; font-weight: 500;"></span>
                </div>
            </div>
            <form action="/carrinho/adicionar" method="post">
                <div id="buy_container" style="padding: 30px;">
                    <div id="quantity_container">
                        <img src="/imagens/icons/minus.png" onclick="decrementar()" />
                        <p id="contador" style="font-size: 30px; font-weight: 500; padding: 20px;">1</p>
                        <img src="/imagens/icons/plus.svg" onclick="incrementar()" />
                    </div>
                    <!-- Inputs ocultos para enviar dados do produto -->
                    <input type="hidden" name="produtoId" id="produtoId" th:value="${produto.id}" />
                    <input type="hidden" name="quantidade" id="quantidade" value="1" />
                    <!-- Botão de adicionar ao carrinho -->
                    <button type="submit" class="button">Adicionar ao carrinho</button>
            </form>
        </div>


    </div>
</main>


</body>

<script th:inline="javascript">
    var imagens = /*[[${produto.imagens}]]*/;
    var imagemPadrao = /*[[${produto.imagemPadrao}]]*/;
    var indiceAtual = -1; // Inicializa o indice atual como -1
    var quantity = 1

    function proximaImagem() {
        indiceAtual++;
        if (indiceAtual >= imagens.length) {
            indiceAtual = 0;
        }
        atualizarImagem();
    }

    function voltaImagem() {
        indiceAtual--;
        if (indiceAtual < 0) {
            indiceAtual = imagens.length - 1;
        }
        atualizarImagem();
    }

    function mostrarImagem(indice) {
        indiceAtual = indice;
        atualizarImagem();
    }

    function atualizarImagem() {
        if (imagens.length > 0) {
            if (indiceAtual === -1) {
                if (imagemPadrao && imagens.includes(imagemPadrao)) {
                    // Se houver uma imagem padrao e ela estiver na lista de imagens, mostra primeiro
                    indiceAtual = imagens.indexOf(imagemPadrao);
                } else {
                    // Caso contrario, exiba a primeira imagem da lista
                    indiceAtual = 0;
                }
            }
            document.getElementById('imagemAtual').src = '/imagens_produtos/' + imagens[indiceAtual];
            var bolinhas = document.querySelectorAll('.bolinha');
            for (var i = 0; i < bolinhas.length; i++) {
                bolinhas[i].classList.remove('ativa');
            }
            bolinhas[indiceAtual].classList.add('ativa');
        }
    }

    // exibir a primeira imagem quando a pagin carrega
    window.onload = function () {
        atualizarImagem();
    };


    function incrementar() {
        var contadorElemento = document.getElementById("contador");
        var contadorAtual = parseInt(contadorElemento.textContent);
        if (contadorAtual < 5) {
            contadorElemento.textContent = contadorAtual + 1;
            document.getElementById("quantidade").value = contadorAtual + 1;
        }
    }

    function decrementar() {
        var contadorElemento = document.getElementById("contador");
        var contadorAtual = parseInt(contadorElemento.textContent);
        if (contadorAtual > 1) {
            contadorElemento.textContent = contadorAtual - 1;
            document.getElementById("quantidade").value = contadorAtual - 1;
        }
    }

    function confirmLogout() {
        if (confirm("Tem certeza que deseja sair da sua conta?")) { document.getElementById("logoutButton").submit(); }
    }


    document.getElementById("menu").addEventListener("mouseenter", function () {
        document.getElementById("painel").style.display = "flex";
    });

    document.getElementById("menu").addEventListener("mouseleave", function () {
        document.getElementById("painel").style.display = "none";
    })


    document.getElementById("")
</script>

</html>