<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Usuário</title>
</head>
<body>
<div class="container">
    <h2>Cadastro de Usuário</h2>
    <form th:action="@{/submit}" method="post">
        <div class="form-group">
            <label form="nome">Nome:</label>
            <input type="text" class="nome" name="nome" th:required="required">
        </div>
        <div class="form-group">
            <label form="email">Email:</label>
            <input type="email" class="email" name="email" th:required="required">
        </div>
        <div class="form-group">
            <label form="cpf">CPF:</label>
            <input type="text" class="cpf" name="cpf" th:required="required">
        </div>
        <div class="form-group">
            <label form="senha">Senha:</label>
            <input type="password" class="senha" name="senha" th:required="required">
        </div>
        <div class="form-group">
            <label form="confirmar-senha">Confirmar Senha:</label>
            <input type="password" class="senhaconf" name="confirmar-senha" th:required="required">
        </div>
        <div class="form-group">
            <label form="grupo">Grupo:</label>
            <select class="grupo" name="grupo">
                <option value="administrador">Administrador</option>
                <option value="estoquista">Estoquista</option>
            </select>
        </div>
        <button class="glow-on-hover" type="submit">Cadastrar</button>
    </form>
</div>
</body>
</html>
