<!DOCTYPE html>
<html>
<head>
</head>
<body>
    <div class="user-list">
        <div class="register-button">
            <button id="cadastroButton">Cadastrar</button>
        </div>
        <h2>Lista de Usuários</h2>
        <table>
            <tr>
                <th>Nome</th>
                <th>Email</th>
                <th>Status</th>
                <th>Grupo</th> <!-- Nova coluna adicionada -->
                <th>Alterar</th>
                <th>Hab/des</th>
            </tr>
            <!-- Adicione mais linhas aqui para cada usuário -->
            <tr>
                <td>Nome do Usuário</td>
                <td>email@exemplo.com</td>
                <td>Ativo</td>
                <td>Administrador</td> <!-- Nova célula adicionada -->
                <td><button>Alterar</button></td>
                <td><button>Hab/des</button></td>
            </tr>
        </table>
    </div>

    <script>
        document.getElementById("cadastroButton").addEventListener("click", function() {
            window.location.href = "cadastro.html";
        });
    </script>
</body>
</html>