<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.w3.org/1999/xhtml">
<!-- Esse index é página HOME -->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Inicial - Bruxo Jogos</title>
    <link rel="stylesheet" href="../static/css/home.css">
    <link rel="stylesheet" href="styles.css">
</head>
<body>
<header class="header">
    <div class="logo">
        <img src="../imagens/logo.png" alt="Logo">
    </div>
    <nav class="menu">
        <a href="#" class="text_header"><img src="../imagens/icons/menu.svg" style="margin-right: 15px;" />Menu</a>
        <a href="#" class="text_header"><img src="../imagens/icons/search.svg" style="margin-right: 15px;" />Buscar</a>
    </nav>
    <div class="icons">
        <div th:unless="${usuarioLogado}">
            <a href="clientes/create" class="text_header">Cadastrar</a>
        </div>
        <div th:unless="${usuarioLogado}">
            <a href="/login" class="text_header">Login</a>
        </div>
        <div th:if="${usuarioLogado}">
            <a th:text="${nomeCliente}" class="text_header" style="margin-right: 30px;"></a>
            <a href="/logout" onclick="confirmLogout()" class="text_header">Logout</a>
        </div>
        <a th:if="${usuarioLogado}" th:href="@{/clientes/PerfilCliente}" class="text_header"><img src="../imagens/icons/profile.svg" style="margin-right: 15px;" /></a>
        <a href="/carrinho" class="text_header"><img src="../imagens/icons/cart.svg" style="margin-right: 15px;" /></a>
    </div>
</header>

<main>
    <div class="banners">
        <div class="banner">
            <img src="../imagens/banner1.png" alt="Banner 1">
        </div>
        <div class="banner">
            <img src="../imagens/banner2.png" alt="Banner 2">
        </div>
        <div class="banner">
            <img src="../imagens/promo/promo8.png" alt="Banner 3">
        </div>
    </div>

    <section class="secao">
        <div class="cards">
            <div th:each="produto : ${produtos}" class="produto">
                <a th:href="@{/produtos/view/{id}(id=${produto.id})}" style="text-decoration: none; color: inherit;">
                    <img th:src="@{'/imagens_produtos/' + ${produto.imagemPadrao}}" alt="Produto" />
                    <h3 th:text="${produto.nome}"></h3>
                    <p th:text="'R$ ' + ${produto.preco}"></p>
                </a>
            </div>
        </div>
    </section>
</main>

<footer class="rodape">
    <div class="rodape-div">
        <div class="rodape-div-1">
            <span>Endereço</span>
        </div>
        <div class="rodape-div-2">
            <span>Contato</span>
        </div>
        <div class="rodape-div-3">
            <span>Redes Sociais</span>
        </div>
        <div class="rodape-div-4">
            <span>Mapa do Site</span>
        </div>
    </div>
    <p class="rodape-direitos">Todos os direitos reservados.</p>
</footer>
</body>

<script>
    function confirmLogout() {
        if (confirm("Tem certeza que deseja sair da sua conta?")) { document.getElementById("logoutButton").submit(); }
    }


    document.getElementById("menu").addEventListener("mouseenter", function () {
        document.getElementById("painel").style.display = "flex";
    });

    document.getElementById("menu").addEventListener("mouseleave", function () {
        document.getElementById("painel").style.display = "none";
    })


    document.getElementById("")


</script>


</html>